@model IEnumerable<Shopping_Web_thien.Models.Role>

<p>
    <a asp-action="CreateRole">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                            <a asp-action="UpdateRole" asp-route-id="@item.RoleID">Edit</a> |
                            <a asp-action="DetailsRole" asp-route-id="@item.RoleID">Details</a> |
                            <a asp-action="DeleteRole" asp-route-id="@item.RoleID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
