@model IEnumerable<Shopping_Web_thien.Models.Bill>

@{
	ViewData["Title"] = "ShowBillAll";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>ShowBillAll</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Ngày tạo
			</th>
			<th>
				Trạng thái
			</th>
			<th>
				Người nhận
			</th>
			<th>
				Địa chỉ người nhận
			</th>
			<th>
				Số điện thoại người nhận
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CreateDate)
				</td>
				<td>
					@if (item.Status == 0)
					{
						<p>Đã hủy</p>
					}
					@if (item.Status == 1)
					{
						<p>Chờ Xác nhận</p>
					}
					@if (item.Status == 2)
					{
						<p>Đang vận chuyển</p>
					}
					@if (item.Status == 3)
					{
						<p>Giao hàng thành công</p>
					}
					@if (item.Status == 4)
					{
						<p>Giao hàng không thành công</p>
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.recipientName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.recipientAddress)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.recipientPhone)
				</td>
				<td>
					<a asp-area="Admin" asp-controller="Bill" asp-action="UpdateBill" asp-route-id="@item.Id">Edit</a> |
					<a asp-area="Admin" asp-controller="Bill" asp-action="DeleteBill" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
