@model IEnumerable<Shopping_Web_thien.Models.Product>

@{
    ViewData["Title"] = "ShowListProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>ShowListProduct</h1>

<p>
    <a asp-area="Admin" asp-controller="Product" asp-action="CreateProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avaliabaleQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avaliabaleQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    <img src=@Html.DisplayFor(modelItem => item.photo) width="100px" height="100px">
            </td>
            <td>
                    <a asp-area="Admin" asp-controller="Product" asp-action="UpdateProdoct" asp-route-id="@item.Id">Edit</a> |
                    <a asp-area="Admin" asp-controller="Product" asp-action="DetailsProduct" asp-route-id="@item.Id">Details</a> |
                    <a asp-area="Admin" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
